<section>
    <header>
        <h2 class="text-align-center">Phone Book</h2>
    </header>
    <div
        fxLayoutAlign="space-between center"
    >
        <mat-form-field>
            <input
            matInput
            placeholder="Filter"
            [disabled]="isActivityInProgress"
            (keyup)="applyFilter($event.target.value)"
        />
        </mat-form-field>
        <pb-phone-book-actions [disabled]="isActivityInProgress"></pb-phone-book-actions>
    </div>
    <div class="mat-elevation-z8 relative">
        <mat-table [dataSource]="dataSource" class="phone-book-table mat-elevation-z8 color-alternate-rows" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell [class.mobile-cell]="isMobile" *matCellDef="let element">
                    <span fxHide.gt-xs class="mobile-label">Name:</span>
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phoneNumbersStr">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Numbers</mat-header-cell>
                <mat-cell [class.mobile-cell]="isMobile" *matCellDef="let element">
                    <span fxHide.gt-xs class="mobile-label">Phone Numbers:</span>
                    {{ element.phoneNumbersStr }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell class="action-cell" *matHeaderCellDef></mat-header-cell>
                <mat-cell [class.mobile-cell]="isMobile" [class.action-cell]="!isMobile" *matCellDef="let row">
                    <button
                        mat-button
                        [color]="isMobile ? 'primary': ''"
                        [ngClass]="{'mat-raised-button': isMobile, 'action-button-mobile': isMobile}"
                        [disabled]="isActivityInProgress"
                    >
                        <span *ngIf="isMobile">Edit</span>
                        <mat-icon
                            class="cursor-pointer"
                            title="Edit record"
                            (click)="editRecord(row)"
                        >
                            edit
                        </mat-icon>
                    </button>
                    <button
                        mat-button
                        [color]="isMobile ? 'primary': ''"
                        [ngClass]="{'mat-raised-button': isMobile, 'action-button-mobile': isMobile}"
                        [disabled]="isActivityInProgress"
                    >
                        <span *ngIf="isMobile">Delete</span>
                        <mat-icon
                            class="cursor-pointer"
                            title="Delete record"
                            (click)="deleteRecord(row)"
                        >
                            delete
                        </mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row
                fxHide.lt-sm
                *matHeaderRowDef="columnsToDisplay"
            ></mat-header-row>
            <mat-row
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start stretch"
                [class.mat-card]="isMobile"
                *matRowDef="let myRowData; columns: columnsToDisplay"
            ></mat-row>
        </mat-table>
        <mat-paginator
            [style.display]="isMobile ? 'none' : 'block'"
            [pageSize]="10"
            [pageSizeOptions]="[1, 5, 10, 25, 100]"
            class="paginator-center"
        >
        </mat-paginator>
    </div>
</section>
