.mat-header-cell {
    font-weight: bolder;
    font-size: 1rem;
}

.action-cell {
    flex-grow: 0;
    min-width: 6rem;

    button {
        padding: 0px;
        min-width: 2.5rem;
        border-radius: 50%;
    }
}

.action-button-mobile {
    margin: 3px 10px 3px 0px;

    span {
        margin-right: 10px;
    }
}

.mobile-label {
    margin-right: 10px;
    font-weight: medium;
}

.mobile-cell {
    padding-left: 1.5rem;
    line-height: 1.75rem;
}

.mat-row.mat-card {
    padding: 1.125rem 0rem;
    min-height: 0px;
    background-color: inherit;
}