<section>
    <header>
        <h2 class="text-align-center">Phone Book</h2>
    </header>
    <mat-form-field>
        <input
            matInput
            placeholder="Filter"
            (keyup)="applyFilter($event.target.value)"
        />
    </mat-form-field>
    <div class="mat-elevation-z8 relative">
        <button
            mat-mini-fab
            class="fab-button-top-right add-button"
            color="primary"
            title="Add Record"
            (click)="addRecord()"
        >
            <mat-icon aria-hidden="false" aria-label="add contact icon" class="mat-icon-vertical-baseline">add</mat-icon>
        </button>
        <mat-table [dataSource]="dataSource" class="phone-book-table mat-elevation-z8 color-alternate-rows" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Name</mat-header-cell
                >
                <mat-cell *matCellDef="let element">
                    <span fxHide.gt-xs class="mobile-label">Name:</span>
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phoneNumbersStr">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Phone Numbers</mat-header-cell
                >
                <mat-cell *matCellDef="let element">
                    <span fxHide.gt-xs class="mobile-label">Phone Numbers:</span>
                    {{ element.phoneNumbersStr }}
                </mat-cell>
            </ng-container>

            <mat-header-row
                fxHide.lt-sm
                *matHeaderRowDef="columnsToDisplay"
            ></mat-header-row>
            <mat-row
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start start"
                [class.mat-card]="isMobile"
                *matRowDef="let myRowData; columns: columnsToDisplay"
            ></mat-row>
        </mat-table>
        <mat-paginator
            [style.display]="isMobile ? 'none' : 'block'"
            [pageSize]="10"
            [pageSizeOptions]="[1, 5, 10, 25, 100]"
            class="paginator-center"
        >
        </mat-paginator>
    </div>
</section>
