@import './flex.scss';

html, body {
    height: 100vh;
}

.text-align-center {
    text-align: center;
}

.relative {
    position: relative;
}

.display-none {
    display: none;
}

@media screen and (max-width: 599px) {
    .mat-dialog-container {
        padding: 1.5rem 0px !important;
    }
}