<section>
    <header class="text-align-center">
        <h3>{{title}}</h3>
    </header>
    <form
        fxLayout="column"
        fxLayoutAlign="start center"
        [formGroup]="recordEditForm"
        (ngSubmit)="onSubmit()"
        class="record-edit-form"
    >
        <mat-error *ngIf="recordEditForm.touched || recordEditForm.dirty">
            {{getFormLevelError}}
        </mat-error>
        <fieldset [disabled]="loading" class="form-fieldset">
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="Name"
                    formControlName="name"
                    required
                />
                <mat-error>Name is required</mat-error>
            </mat-form-field>
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <label>Phone Numbers:</label>
                    <span>
                        <mat-icon
                            aria-hidden="false"
                            aria-label="add phone number"
                            class="cursor-pointer mat-icon-margin-left mat-icon-vertical-baseline"
                            color="accent"
                            title="Add Phone Number"
                            (click)="addPhoneNumber()"
                        >
                            add_circle
                        </mat-icon>
                    </span>
                </div>
                <div *ngFor="let address of phoneNumbers.controls; let i=index">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field>
                            <input
                                matInput
                                type="text"
                                [formControl]="phoneNumbers.controls[i]"
                                required
                            />
                            <mat-error *ngIf="phoneNumbers.controls[i]?.errors?.required; else otherErrors">Phone Number is required</mat-error>
                            <ng-template #otherErrors>
                                <mat-error *ngIf="phoneNumbers.controls[i]?.errors?.invalidPhoneNumber">
                                    Phone Number should be in valid format, for example - +44-2454-5233
                                </mat-error>
                            </ng-template>
                        </mat-form-field>
                        <span matSuffix class="phone-number-item-button-panel">
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="remove phone number"
                                    class="cursor-pointer mat-icon-margin-left mat-icon-vertical-baseline"
                                    color="accent"
                                    title="Remove Phone Number"
                                    (click)="removePhoneNumber(i)"
                                >
                                    remove_circle
                                </mat-icon>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <div fxLayoutAlign="end center" class="form-button-container" fxLayoutGap="8px">
            <button type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="recordEditForm.invalid || loading"
            >
                Save
            </button>
        </div>
    </form>
</section>
