.form-button-container {
    margin-top: 10px;
}

.mat-icon-margin-left {
    margin-left: 10px;
}

.record-edit-form {
    width: 20rem;
    overflow-y: auto;
}

.form-fieldset {
    width: 15rem;
    border: none;
}