.form-button-container {
    margin-top: 10px;
}

.mat-icon-margin-left {
    margin-left: 10px;
}

.record-edit-form {
    overflow-y: auto;
}

.form-fieldset {
    border: none;
}

@media screen and (min-width: 599px) {
    .record-edit-form {
        width: 20rem;
    }

    .form-fieldset {
        width: 15rem;
    }
}